<div class="pl-sm-4 ml-sm-5 pt-2">
    <div class="row">
        <div class="col-12">
            <div class="pb-3">
                <h5><span class="badge category">Medium</span></h5>
                <ul class="list-unstyled">
                    <li>
                        Mar 13 2024
                        <a href="https://alexsniffin.medium.com/three-ai-design-patterns-of-autonomous-agents-8372b9402f7c">Three AI Design Patterns of Autonomous Agents</a>
                    </li>
                    <li>
                        Nov 12 2023
                        <a href="https://alexsniffin.medium.com/building-an-openai-gpt-with-your-api-a-step-by-step-guide-70168bef00e7?source=friends_link&sk=dd44b19ff0e1e1159ebb43efd68c9edc">Building An OpenAI GPT with Your API: A Step-by-Step Guide</a>
                    </li>
                    <li>
                        Jun 4 2023
                        <a href="https://alexsniffin.medium.com/a-guide-to-building-a-kubernetes-cluster-with-raspberry-pis-23fa4938d420">A Guide to Building a Kubernetes Cluster with Raspberry Pi’s</a>
                    </li>
                    <li>
                        Nov 23 2022
                        <a href="https://alexsniffin.medium.com/debugging-remotely-in-kubernetes-with-go-fda4f3332316">Debugging Remotely with Go in Kubernetes</a>
                    </li>
                    <li>
                        Dec 29 2020
                        <a href="https://alexsniffin.medium.com/building-a-prometheus-expression-evaluation-service-in-go-ea58f0cc406">Building a Prometheus & Expression Evaluation Service in Go</a>
                    </li>
                    <li>
                        Sep 23 2020
                        <a href="https://medium.com/@alexsniffin/applications-of-goroutines-channels-in-go-2e24c478d71d?sk=b3daf1f16b2206fae843505ed3731866">Applications of Goroutines & Channels in Go</a>
                    </li>
                </ul>
            </div>
            {{ $recent := 7 }}
            {{ if isset .Site.Params "recent_posts" }}
                {{ $recent = .Site.Params.recent_posts }}
            {{ end }}
            <div class="pb-3">
                <h5><span class="badge category">Other</span></h5>
                <ul class="list-unstyled">
                    {{ range first $recent (where .Site.RegularPages "Type" "in" site.Params.mainSections) }}
                        <li>
                            {{ .Date.Format "Jan 2 2006" }}
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </div>

            {{ range $key, $taxonomy := .Site.Taxonomies.categories.Alphabetical }}
                <div class="pb-3">
                    <h5>
                    <span class="badge category text-capitalize">
                        {{ .Name | humanize }}
                    </span>
                    </h5>
                    <ul class="list-unstyled">
                        {{ range $taxonomy.Pages }}
                            <li>
                                {{ .Date.Format "Jan 2 2006" }}
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}
        </div>
    </div>
</div>
